a {
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    }

/*header*/
   .logo {
        color: #000000;
    }

    .logo-part {
        color: #2196F3;
    }
    
    .logo,.logo-part {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    .menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
    }

    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active {
        color: #2196F3;
    }

    .contact-mail {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .contact-mail:hover,
    .contact-mail:focus {
        color: #2196F3;
    }

    .contact-phone-number {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .contact-phone-number:hover,
    .contact-phone-number:focus {
        color: #2196F3;
    }

/*main*/
/*section 1*/
    .main-top {
        background-color: #2F303A;
    }

    .headline {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

/*buttom*/
    .modal-open-btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: #2196F3;
        cursor: pointer;
    }

    .modal-open-btn:hover,
    .modal-open-btn:focus {
     background-color: #188CE8;
    }
    
/*section 2*/
    .features {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .features-description {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }

/*section 3*/
    .working {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }

/*section*/
    .team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }

    .member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    }

    .team-position {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
    }

/*footer*/
    .page-bottom {
        background-color: #2F303A;
    }

    .bottom-logo {
        color: #FFFFFF;
    }

    .bottom-logo-part {
        color: #2196F3;
    }

    .bottom-logo,.bottom-logo-part {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    .map-point {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .bottom-contact-mail {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgb(255, 255, 255, 60%);
    }

    .bottom-phone-number {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgb(255, 255, 255, 60%);
    }
    
    .bottom-link:hover,
    .bottom-link:focus {
            color: #2196F3;
    }

    address {
        font-style: normal;
    }

/*portfolio*/
    /*Filters*/
    .filter-btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: #F5F4FA;
        cursor: pointer;
    }
        
    .filter-btn:hover,
    .filter-btn:focus {
        color: #FFFFFF;
        background-color: #2196F3;
    }

    /*projects*/
    .projects-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    .projects-specification {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
    }
